/* Background slideshow with transition */
@keyframes backgroundFade {
  0% {
    background-image: url("../assets/futuristic2.jpeg");
  }
  50% {
    background-image: url("../assets/contactimg1.avif");
  }
  100% {
    background-image: url("../assets/images2.jpeg");
  }
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px;
  color: white;
  background-size: cover;
  background-position: center;
  animation: backgroundFade 20s infinite alternate ease-in-out;
}

/* Left Side */
.welcome-text {
  max-width: 45%;
}

.welcome-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.welcome-text h2 {
  font-size: 3rem;
  font-weight: 800;
  color:  #FF5733; 
}

.welcome-text p {
  margin: 15px 0;
  font-size: 1.2rem;
}

.join-btn {
  padding: 10px 25px;
  border: none;
  background:#002B5B;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

/* Right Side - Login Box */



.logo-section {
  display: flex;
  align-items: center;  
  justify-content: center; 
  gap: 10px;             
  margin-bottom:20px;
  
}

.logo {
  width: 50px;   /* smaller logo */
  height: 50px;
  object-fit: contain;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.login-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  height: 82vh;
  width: 320px;
  margin-top:70px ;
  text-align: center;
}

.login-box h3 {
  background: white;
  color: #FF5733;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: goldenrod;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.login-box p {
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-box a {
  color:red;
  font-weight: bold;
}
.login-box a:hover{
  color:#fff;
}

.social-login {
  margin-top: 20px;
}

.icons i {
  font-size: 1.5rem;
  margin: 0 8px;
  cursor: pointer;
}
.icons i:hover{
color: #FF5733;
}
