/*contact*/
#contact {
  padding: 80px 10%;
  text-align: center;
  background:#004d40;
}
#contact h2{
  color: #fff;
}
#contact h2:hover{
  color:#FF5733;
}
#contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

#contact input,
#contact textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}
#contact .btn {
  background: #002B5B;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

#contact .btn:hover {
  background:#004d40;
  
}

/* Footer */
footer h5:hover{
  color:#FF5733;

}

footer .socials {
  margin-top: 10px;
  text-align: center;
}

footer .socials a {
  color: #fff;
  margin: 0 8px;
  font-size: 18px;
  transition: color 0.3s;
}

footer .socials a:hover {
  color:#FF5733;
}
.footer-link {
  color: #bbb;
  text-decoration: none;
}

.footer-link:hover {
  color:#FF5733;
}
.footer-highlight{
  color:#FF5733;
  
}
.footer-highlight:hover{
  color: #fff;
}
